{% extends 'base.html' %}
{% block title %}
    Scrumptious recipes
{% endblock title %}
{% block edit %}
    <a href="{% url 'edit_recipe' recipe_object.id %}">Edit a Recipe</a>
{% endblock edit %}
{% block content %}
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src={{ recipe_object.picture }}>
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients">
            <thead>
                <th>Amount</th>
                <th>Food Item</th>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
            </ol>
        </main>
    {% endblock content %}
