{% extends 'base.html' %}

{% block title%}
Scrumptious recipes
{% endblock title %}

{% block content %}
        <main>
            <h1>Edit {{ recipe_object.title }}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>save</button>
            </form>  
        </main>
{% endblock content %}

    