{% extends 'base.html' %}

{% block title%}
Scrumptious recipes
{% endblock title %}

{% block content %}
    <main>
    <h1 class="landing_title">Scrumptious Recipes</h1>
    <h2 class="landing_subtitle">All the food that's fit to eat</h2>
    <div class="recipie">
      {% for recipe in recipe_list %}  
      <div>
        <h3><a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h3>
        <a href="{% url 'show_recipe' recipe.id %}"><img src="{{ recipe.picture }}"></a>
        <div>4.3 stars</div>
        <p>{{ recipe.created_on|date:"M jS, Y"}}</p>
      </div>
      {% endfor %}      
    </div>
    </main>
{% endblock content %}
