{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet"
          href="{% static "css/recipes.css" %}"
          type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'create_recipe' %}">Create a Recipe</a>
        {% if user.is_authenticated %}
          Hello, {{ user.username }}
          <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'signup' %}">Sign up</a>
          <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
        {% block edit %}
        {% endblock edit %}
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer>
      Made with love by Scrumptious Recipes
    </footer>
  </body>
</html>
